<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.myspring.mapper.MemberMapper">
  	<!-- DB시간정보 가져오기 -->
  	<select id="getTime" resultType="string">
  	  select now()		
  	</select>
  	
  	
  	<!-- 회원가입 동작 -->
  	<insert id="memberJoin">
  		insert into tbl_member(userid, userpw, username, email) values (#{userid}, #{userpw}, #{username}, #{email})
  	</insert>
  	
  	<!-- 로그인 동작 -->
  	<select id="loginMember" resultType="com.myspring.domain.MemberVO">
  		select * from tbl_member where userid=#{userid} and userpw=#{userpw}
  	</select>
  	
  	<!-- 회원정보 조회 -->
  	<select id="getMemberInfo" resultType="MemberVO">
  		select * from tbl_member where userid=#{userid}
  	</select>
  	
  	<!-- 회원정보 수정 -->
  	<update id="modifyMemberInfo">
  		update tbl_member set username=#{username}, email=#{email} where userid=#{userid} and userpw=#{userpw}
  	</update>
  	
  	<!-- 회원정보 삭제 -->
  	<update id="deleteMember">
  		delete from tbl_member where userid=#{userid} and userpw=#{userpw}
  	</update>
  	
  	<!-- 회원전체 리스트 -->
  	<select id="memberList" resultType="MemberVO">
  		select * from tbl_member
  	</select>
  
  </mapper>